In [1]:
# Part I - Analysis Procedure
# Step 1.Importing Dataset
import pandas as pd
import numpy as np
from sklearn import datasets

In [2]:
data = pd.read_csv('Bank Dataset.csv')
data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,Y
0,58,5,3,3,1,2143,2,1,0,5,5,261,1,-1,0,0,0
1,44,10,1,2,1,29,2,1,0,5,5,151,1,-1,0,0,0
2,33,3,3,2,1,2,2,2,0,5,5,76,1,-1,0,0,0
3,47,2,3,0,1,1506,2,1,0,5,5,92,1,-1,0,0,0
4,33,0,1,0,1,1,1,1,0,5,5,198,1,-1,0,0,0

In [3]:
# Step 2.Describing the predictors/attributes and the outcome variable
x = data.values[:,:-1] #predictors/attributes
y = data.values[:,-1] #outcome
x.shape,y.shape

((45211, 16), (45211,))

In [4]:
Describe_Bankdataset = data.describe()
Describe_Bankdataset

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,Y
count,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000
mean,40.936210,5.263321,2.319037,2.060516,1.018027,1362.272058,1.555838,1.160226,0.776293,15.806419,6.144655,258.163080,2.763841,40.197828,0.580323,0.297339,0.116985
std,10.618762,3.256301,0.884908,0.778704,0.133049,3044.765829,0.496878,0.366820,0.549747,8.322476,2.408034,257.527812,3.098021,100.128746,2.303441,0.721090,0.321406
min,18.000000,0.000000,1.000000,0.000000,1.000000,-8019.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,-1.000000,0.000000,0.000000,0.000000
25%,33.000000,2.000000,1.000000,2.000000,1.000000,72.000000,1.000000,1.000000,0.000000,8.000000,5.000000,103.000000,1.000000,-1.000000,0.000000,0.000000,0.000000
50%,39.000000,5.000000,3.000000,2.000000,1.000000,448.000000,2.000000,1.000000,1.000000,16.000000,6.000000,180.000000,2.000000,-1.000000,0.000000,0.000000,0.000000
75%,48.000000,8.000000,3.000000,3.000000,1.000000,1428.000000,2.000000,1.000000,1.000000,21.000000,8.000000,319.000000,3.000000,-1.000000,0.000000,0.000000,0.000000
max,95.000000,11.000000,3.000000,3.000000,2.000000,102127.000000,2.000000,2.000000,2.000000,31.000000,12.000000,4918.000000,63.000000,871.000000,275.000000,3.000000,1.000000

In [5]:
# Step 3.Preparing for your training set and test set
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split( x, y, test_size = 0.3, random_state = 100) # 70% training set and 30% test set

In [6]:
# Step 4.Creating decision tree with training set
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier()
clf.fit(x_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [7]:
clf.predict(x_train)[:40]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0])

In [8]:
# Step 5.Testing and reporting performance with test set
from sklearn.metrics import classification_report
print(classification_report(y_test,clf.predict(x_test)))

             precision    recall  f1-score   support

          0       0.93      0.93      0.93     11985
          1       0.47      0.49      0.48      1579

avg / total       0.88      0.88      0.88     13564

In [9]:
# Step 6.Pruning the tree with one or more parameters
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.grid_search import GridSearchCV

decision_tree_classifier = DecisionTreeClassifier()

parameter_grid = {'max_depth': np.arange(1,16,1),
                  'max_features': np.arange(1,17,1)}
                  #'min_samples_split': np.arange(2,6,1),
                  #'min_samples_leaf': np.arange(1,7,1)}



grid_search = GridSearchCV(decision_tree_classifier, param_grid = parameter_grid,cv = 3)

grid_search.fit(x_train, y_train)

print ("Best Score: {}".format(grid_search.best_score_))
print ("Best params: {}".format(grid_search.best_params_))

/Applications/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
/Applications/anaconda3/lib/python3.6/site-packages/sklearn/grid_search.py:42: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)

In [ ]:
clf_cv = grid_search.best_estimator_
feature_importances = pd.DataFrame(clf.feature_importances_,index = data.columns[:-1],
                                   columns=['importance']).sort_values('importance',ascending=False)
print(feature_importances[feature_importances.importance!=0])
print('The most important feature is',feature_importances[feature_importances.importance!=0].index[0])